name: qadaa_prayer_tracker
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  flutter_localizations:
   sdk: flutter
  intl: any
  firebase_auth: ^6.1.0
  firebase_core: ^4.1.1
  cloud_firestore: ^6.0.2
  google_sign_in: ^6.2.1
  sign_in_with_apple: ^6.1.1
  flutter_svg: ^2.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/

flutter_launcher_icons:
  android: true
  ios: true
  web:
    generate: true
    image_path: "assets/icons/Itmam_logo_white_bg.png"
    background_color: "#ffffff"
    theme_color: "#0175C2"
  image_path: "assets/icons/Itmam_logo_white_bg.png"
  min_sdk_android: 21
  remove_alpha_ios: true
